td{
  height: 100px;
  width: 100px;
}
table{
  margin: auto;
}
.virtical{
  border-left:2px  solid red;
  border-right:  2px  solid red;
}
.horizontal{
  border-top: 2px solid red;
  border-bottom: 2px solid red;

}

h1{
  text-align: center;
}

td:hover{
  border: 5px blue solid;
}
