div p{
  font-size: 20px;
}
div:nth-of-type(3) p{
  background: blue;
  color: white;
}

div:nth-of-type(3) p:nth-of-type(2){
  border: 5px red solid;
}

div:nth-of-type(2) em{
  color: white;
  font-size: 30px;
  background: green;``
}
body{
  background-image: url(https://images.hindustantimes.com/img/2021/09/07/1600x900/salman_khan_game_selmon_bhai_1631024792578_1631024798593.png);
/* background-image:url("Ajay pic copy.jpg"); */
background-repeat: no-repeat;
}
