#black{
  background-color: black;
}
#while{
  background-color: white;
}

td{
  height: 50px;
  width: 50px;
}

table{
  border: black 5px solid;
  margin: auto;
}

td:hover{
  background-color: red;
}
